<app-curso></app-curso>

<p>Título: {{ title }}</p>
<p>Nome: {{ getNome() }}</p>

<button (click)="salvar()" >salvar</button>
<br><br>
<input type="text" [(ngModel)]="entrada">
<br>
Entrada {{ entrada }}