#divexterna {
    background-color: blue;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 16px;
}

#interna {
    font-size: 0.5em;
    width: 50%;
    height: 50%;
    color: black;
    background-color: antiquewhite;
}