* {
    margin: 0;
}
/* padrão.  Não respeita left*/
/* .position {
    position: static;
    left: 30px; 
    border: 1px solid red;
} */

/* posicionamento relativo */
/* .position {
    position: relative;
    left: 30px;
    border: 1px solid red;
} */

/* Posicionamento fixo */
/* .position {
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 200px;
    border: 1px solid red;
} */

.position {
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px solid red;
}

.absoluta {
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    height: 100px;
    border: 3px solid blue;
}