/* Seletores

#id { }
.class { }
elemento { }

elementoExterno elementoInterno{ }

elemento1, elemento2 { }

*/

#paragrafo1 {
    color: blue;
}

.primario {
    color: #3bb839;
}

p {
    background-color: bisque;
    color: blueviolet;
}

div p {
    color: coral;
}